// Place all the styles related to the culturadh controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html { 
  background: url(bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  body {
  	margin: 0;
  }

  .menu > ul > a > li {
    list-style-type: none;
    display: block;
  }

  .container {
  	width: 1200px;
  	height: 500px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

  	.left {
  		width: 450px;
  		height: 100%;
  		float: left;
  		top: 0;
  		bottom: 0;
  		margin:auto;

  		.logo {
  			position: relative;
  			width: 445px;
  			height: 90px;
  		}

  		.cultura_txt {
  			width: 374px;
  			height: 91px;
  			position: relative;
  			margin-top: 100px;
  		}

  		.porque {
  			width: 374px;
  			height: 91px;
  			position: relative;
  			margin-top: 80px;
  		}
  	}

  	.right {
  		width: 255px;
  		height: 100%;
  		float: right;
  		top: 0;
  		bottom: 0;
      margin: auto;

  		.contacto {
			width: 110px;
			height: 42px;
			position: relative;
			margin-left: 85px;
			margin-top: 30px;
  		}

      .menu{
        height: auto;
        right: 0;
        margin-top: 50px;

        .menu_option {
          width: 209px;
          height: 64px;
          position: relative;
          margin-bottom: 20px;
        }

        .op1 {
          background-image: url(culturadh.png);
          background-repeat: no-repeat; 
        }

        .op2 {
          background-image: url(que.png);
          background-repeat: no-repeat;  
        }

        .op3 {
          background-image: url(como.png);
          background-repeat: no-repeat;  
        }

        .op4 {
          background-image: url(equipo.png);
          background-repeat: no-repeat;  
        }
      }

      .rs{
        width: 117px;
        height: 29px;
        background-image: url(rs.png);
        background-repeat:no-repeat;
        margin-left: 85px;

        .fb {
          width: 29px;
          height: 29px;
          border-radius: 50%;
          cursor: pointer;
          position: absolute;
          margin-left: 0px;
          margin-top: -29px;
        }

        .tw {
          width: 29px;
          height: 29px;
          border-radius: 50%;
          cursor: pointer;
          position: relative;
          margin-left: 44px;
        }

        .blg {
          width: 29px;
          height: 29px;
          border-radius: 50%;
          cursor: pointer;
          position: absolute;
          margin-left: 88px;
          margin-top: -29px;
        }
      }
  	}
  }
}
